<footer class="@@el footer">
  <div class="footer__container">
    <div class="row footer__row">
      <div class="row__col footer__col footer__col--logo">
        <a href="/" class="logo logo--size-sm footer__logo">
          <picture class="logo__img">
            <img src="images/logo-white.svg" alt="SynoWriter">
          </picture>
        </a>
      </div>
      <div class="row__col footer__col footer__col--nav">
        <nav class="footer__nav" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <p class="fs-5 footer__nav-title">Навигация</p>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Возможности</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Тарифы</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">FAQ</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col footer__col footer__col--subnav">
        <nav class="footer__nav" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <p class="fs-5 footer__nav-title">Правила</p>
            </li>
            <li class="footer__nav-item">
              <a href="privacy.html" class="footer__nav-link">Политика конфиденциальности</a>
            </li>
            <li class="footer__nav-item">
              <a href="terms.html" class="footer__nav-link">Условия использования</a>
            </li>
            <li class="footer__nav-item">
              <a href="offer.html" class="footer__nav-link">Договор оферты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col footer__col footer__col--action">
        <a href="registration.html" class="btn btn--size-md btn--theme-white-fill footer__btn">
          <span class="btn__inner">
            <span class="btn__title">Зарегистрироваться</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>