<header class="@@el header">
  <div class="container container--size-sm header__container">
    <a href="/" class="logo logo--size-sm header__logo">
      <picture class="logo__img">
        <img src="images/logo-accent-gradient.svg" alt="SynoWriter">
      </picture>
    </a>
    <div class="header__dropdown">
      <div class="d-lg-block header__dropdown-top">
        <a href="/" class="logo logo--size-sm header__dropdown-logo">
          <picture class="logo__img">
            <img src="images/logo-accent-gradient.svg" width="143" height="34" alt="Boom AI">
          </picture>
        </a>
        <button type="button" class="js-header-toggle header__dropdown-toggle header__dropdown-toggle--close">
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#menu-close"></use>
          </svg>
        </button>
      </div>
      <nav class="header__nav" role="navigation">
        <ul class="header__nav-list">
          <li class="d-lg-block header__nav-item">
            <p class="header__nav-title">Навигация</p>
          </li>
          <li class="header__nav-item">
            <a href="#features" class="js-anchor header__nav-link">Возможности</a>
          </li>
          <li class="header__nav-item">
            <a href="#tariffs" class="js-anchor header__nav-link">Тарифы</a>
          </li>
          <li class="header__nav-item">
            <a href="#faq" class="js-anchor header__nav-link">FAQ</a>
          </li>
          <li class="header__nav-item">
            <a href="contacts.html" class="header__nav-link">Контакты</a>
          </li>
        </ul>
        <ul class="d-lg-block header__nav-list">
          <li class="header__nav-item">
            <p class="header__nav-title">Правила</p>
          </li>
          <li class="header__nav-item">
            <a href="privacy.html" class="js-anchor header__nav-link">Политика конфиденциальности</a>
          </li>
          <li class="header__nav-item">
            <a href="terms.html" class="js-anchor header__nav-link">Условия использования</a>
          </li>
          <li class="header__nav-item">
            <a href="offer.html" class="js-anchor header__nav-link">Договор оферты</a>
          </li>
        </ul>
      </nav>
      <div class="btn-group header__btn-group">
        <div class="btn-group__inner">
          <div class="btn-group__col">
            <a href="login.html" class="btn btn--size-md btn--theme-accent-light btn-group__item">
              <span class="btn__inner">
                <span class="btn__title">Войти</span>
              </span>
            </a>
          </div>
          <div class="btn-group__col">
            <a href="registration.html" class="btn btn--size-md btn--theme-accent-gradient btn-group__item">
              <span class="btn__inner">
                <span class="btn__title">Зарегистрироваться</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="js-header-toggle d-lg-block header__dropdown-toggle header__dropdown-toggle--open">
      <svg class="u-icon">
        <use xlink:href="images/icons/icons.svg#menu-open"></use>
      </svg>
    </button>
  </div>
  <div class="js-header-toggle-close d-lg-block header__overlay"></div>
</header>